{% extends 'layout_with_yify_theme.html.twig' %}

{% block title %} recent movies {% endblock %}

{# @var movies Knp\Component\Pager\Pagination\PaginationInterface #}

{% block content %}
    <div class="wrapper">
        <div id="content">
            <section class="movie_section">
                <h1>Recent Movies</h1>
                {# pagination tool #}
                {% if movies != null %}
                    {{ knp_pagination_render(movies) }}
                    <div class="movie_list">
                        {% for movie in movies %}
                            {% if movie.readyToBeShown %}
                                <article class="img-item">
                                    <figure>
                                        <a href="{{ path('movie_show',
                                            {'movie': movie.id, 'quality': movie.torrents.first.quality.format}) }}">
                                            <img class="poster-thumb"
                                                 src="{{ vich_uploader_asset(movie, 'posterImage') }}"
                                                 width="160" height="232" alt="{{ movie.name }} - Movie Poster">
                                            <img class="quality-thumb"
                                                 src="{{ vich_uploader_asset(movie.torrents.first.quality, 'image') }}"
                                                 width="126"
                                                 height="90"
                                                 alt="{{ movie.name }} - Download in {{ movie.torrents.first.quality.format }}p quality">
                                        </a>
                                        <figcaption>
                                            <h3>
                                                <a class="movielink"
                                                   href="{{ path('movie_show',
                                                       {'movie': movie.id, 'quality': movie.torrents.first.quality.format}) }}">
                                                    {{ movie.name }}
                                                </a>
                                            </h3>
                                        </figcaption>
                                    </figure>
                                </article>
                            {% endif %}
                        {% endfor %}
                    </div>
                    {# pagination tool #}
                    {{ knp_pagination_render(movies) }}
                {% endif %}
            </section>
        </div>
    </div>
{% endblock %}